@font-face {
    font-family: variable;
    src: url(./Fonts/RedHatText-VariableFont_wght.ttf);
}
*{
    font-family: variable;
}
.sticky{
    display: flex;
    justify-content: space-between;
    justify-items:center;
    flex-direction: row;
    gap: 25px;
}
.slader-images{
 display: flex;
 justify-content: center;
 height: 300px;
 width: 900px;
 gap: 15px;
}




.items{
    display: grid;
    grid-template-rows:repeat(4,1fr) ;
    grid-template-columns:repeat(4,1fr);
    gap: 25px;
    height: 505px;
    width: 1300px;
    text-align: center;
}  
#item1{
    grid-row: span 5;
    grid-column: span 1;
    border-radius: 45px;
    position: relative;
}
#item2{
    grid-row: span 2;
    grid-column: span 1;
    border-radius: 45px;
    position: relative;
}
#item3{
    grid-row: span 2;
    grid-column: span 1;
    border-radius: 45px;
    position: relative;
}
#item4{
    grid-row: span 5;
    grid-column: span 1;
    border-radius: 45px;
    position: relative;
}
#item5{
    grid-row: span 2;
    grid-column: span 1;
    border-radius: 45px;
    position: relative;
}
#item6{
    grid-row: span 2;
    grid-column: span 1;
    border-radius: 45px;
    position: relative;
}




.title{
    background-color: rgb(227, 227, 227);
    width: 200px;
}
.navbar{
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    justify-items:center;
    flex-direction: row;
    gap: 25px;
}
.nav{
    border: 2px solid var(--Blue);
    border-radius: 999px;
    width: 200px;
    text-align: center;
    color: var(--Blue);
}
.nav:hover{
    border: 2px solid rgba(255, 255, 0, 0.796);
    color: rgba(255, 255, 0, 0.796);
}

.container{
    display: grid;
    gap: 45px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    position: relative;
    width: 950px;
    margin-bottom: 35px;
}


.img2{
    border-radius: 35px;
    width: 150px;
    height: 150px;
}
.img1{
    border-radius: 35px;
    width: 500px;
    height: 300px
}
.imgi1{
    position: absolute;
    border-radius: 15px;
    width: 300px;
    height: 500px;
    left: 0;
    transition: filter 0.3s ease;
}
.imgi2{
    position: absolute;
    border-radius: 15px;
    width: 300px;
    height: 190px;
    left: 0;
    transition: filter 0.3s ease;
}
.commandes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    gap: 15px;
    margin: 15px;
  }

.grid1{
    width: 100%;
    padding: 15px;
    border: 1px solid var(--gris) ;
    border-radius: 25px;
}
.grid1:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), /* Bottom shadow */
                0 -4px 8px rgba(0, 0, 0, 0.2), /* Top shadow */
                4px 0 8px rgba(0, 0, 0, 0.2), /* Right shadow */
                -4px 0 8px rgba(0, 0, 0, 0.2); /* Left shadow */
}
.grid2{
    border: 1px solid var(--gris) ;
    border-radius: 15px;
    margin: 15px;
    padding-left: 15px;
}
.price{
    font-size: 19px;
}

.price::before{
    content: "$";
}
#newtotalprice::before{
     content: "$";
}
.market{
    padding-left: 300px;
}


.home{
    display: flex; 
}
.cart{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    gap: 15px;
    width: 350px;
    border: 4px solid var(--Blue);
    margin-left: 15px;
}
.totalprice{
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
}
:root{
    --Blue: hsl(214, 38%, 55%);
    --gris: hsl(210, 1%, 58%);

}
a {
    color: inherit;
    text-decoration: none;
}



#buttonb{
    position: absolute;
    bottom: 25px;
    left: 85px;
}
#buttonb1{
    position: absolute;
    bottom: 25px;
    right: 105px;
    width: 100px;
}
#buttonb2{
    position: absolute;
    bottom: 50px;
    right: 105px;
    width: 100px;
}
/*==================================================================container2===============================================================*/
.container2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    text-align: center;
    height: 450px;
    width: 1300px;
}
.child{
    display: flex;
    flex-direction: column;
    justify-items: center; /* Center items horizontally within their gri cell*/
    align-items: center;
    width: 280px;
    height: 180px;
    background-color: white;
    border: 1px solid var(--gris);
    border-radius: 25px;
    padding: 15px;
}
.child:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), /* Bottom shadow */
                0 -4px 8px rgba(0, 0, 0, 0.2), /* Top shadow */
                4px 0 8px rgba(0, 0, 0, 0.2), /* Right shadow */
                -4px 0 8px rgba(0, 0, 0, 0.2); /* Left shadow */
}
.child1{
    grid-row: span 2;
    grid-column: span 2;
    width: 580px;
    height: 450px;
    background-image: url(./Images/Catalogue-images/blackman.jpeg);
    background-size: cover;
    transition: filter 0.3s ease;
    border-radius: 25px;
}
.child1:hover {
    filter: brightness(0.8); /* Adjust the filter to your liking */
}
.child8{
    grid-row: span 2;
    grid-column: span 2;
    width: 580px;
    height: 450px;
    background-image: url(./Images/Catalogue-images/pikini.jpeg);
    background-size: cover;
    transition: filter 0.3s ease;
    border-radius: 25px;

}
.child8:hover {
    filter: brightness(0.8); /* Adjust the filter to your liking */
}
.child13{
    grid-row: span 2;
    grid-column: span 2;
    width: 580px;
    height: 450px;
    background-image: url(./Images/Catalogue-images/underwater.jpeg);
    background-size: cover;
    transition: filter 0.3s ease;
    border-radius: 25px;
    
}
.child13:hover {
    filter: brightness(0.8); /* Adjust the filter to your liking */
}
.child16{
    grid-row: span 2;
    grid-column: span 2;
    width: 580px;
    height: 450px;
    background-image: url(./Images/Catalogue-images/thenicegirl.jpeg);
    background-size: cover;
    transition: filter 0.3s ease;
    border-radius: 25px;
}
.child16:hover {
    filter: brightness(0.8); /* Adjust the filter to your liking */
}


.bigimg{
    width: 500px;
    height: 500px;
    border-radius: 25px;
}
.littleimg{
    width: 150px;
    height: 150px;
    border-radius: 15px;

}




.footer{
    display: flex;
    background-color: rgba(162, 162, 155, 0.189);
    margin: 0;
    padding: 15px;
    padding-left: 550px;
    height: 200px;
    text-align: start;

}
.logo{
    margin: 15px;
}
#color{
    color :var(--Blue)
}









.container3 {
    position: relative;
    margin-bottom: 35px;
}

.container3 .wapper {
    width: 1850px;
    height: 600px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    margin-left: 70px;
}

.container3 .wapper-holder {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: slider 40s ease-in-out infinite;
}

.container3 #slider-img1 {
    background-image: url(./Images/image-slider/8797820.jpeg);
    background-size: cover;
}

.container3 #slider-img2 {
    background-image: url(./Images/image-slider/Banner-Desktop-Meuble.jpeg);
    background-size: cover;
}

.container3 #slider-img3 {
    background-image: url(./Images/image-slider/Banners-desktop.jpeg);
    background-size: cover;
}

.container3 #slider-img4 {
    background-image: url(./Images/image-slider/Generaliste.jpeg);
    background-size: cover;
}

.container3 .button-holder .button3 {
    background-color: white;
    width: 8px;
    height: 8px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}
.container3 .button-holder {
    position: absolute;
    left: 45%;
    bottom: 0%;
}
@keyframes slider {
    0%, 10% { transform: translateX(0%); }
    20%, 30% { transform: translateX(-100%); }
    40%, 50% { transform: translateX(-200%); }
    60%, 70% { transform: translateX(-300%); }
    80%, 100% { transform: translateX(0%); }
}

.button3:hover {
    box-shadow: 0px 0px 7px 4px rgba(26, 93, 131, 0.6);
}

button{
    border: 1px solid rgba(49, 48, 48, 0.72);
    border-radius: 5px;
    background: rgb(255, 255, 0);
    font-size: 12px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    height: 30px;
    width: 100px;
    font-weight: bolder;
}
button:hover{
    background-color: rgba(255, 255, 0, 0.655);
}
.marginclass{
    margin: 25px;
}
.imgi1:hover{
    filter: brightness(0.7);
}
.imgi2:hover{
    filter: brightness(0.7);
}
.sticky{
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.sticky1{
    display: flex;
    gap: 25px;
    padding-right: 30px;
}
.nav-links {
    display: flex;
    gap: 20px;
}
#logot{
    font-size: 20px;
}
#logoimg{
    width: 150px;
}
















